html {
  scroll-behavior: smooth;
}
:root {
  /*Colors*/
  --color-bg-primary: #1e252b;
  --color-font-90: #ffffffe6;
  --color-font-primary-78: #ffffffc7;
  --color-font-primary-55: #ffffff8c;
  --color-font-search: #ffffff61;
  --color-border-button: #ffffff1a;
  --color-border: #ffffff26;
  --color-orange: #ff6e30;
  --color-signup: #fdf5ff;
  --color-like: #fd3b41;
  --color-input-bg: #283036;
  --color-gradient-cards: #ff6e3099;
  --color-gradient-brands: #ff484266;
  --color-tools-category-hover: #ffa537;
  --color-tools-category: #ffa5378c;
  --color-bg-brands: #2c353d33;
  --color-bg-cards: #28303699;
  --color-font-primary-100: #ffffff;
  --color-font-primary-10: #ffffff1a;
  --color-font-primary-80: #ffffffcc;

  /*Fonts*/
  --font-primary: "Poppins", sans-serif;
  --font-reviews: "Roboto", sans-serif;
  --font-reviews-decor: "Lora", serif;
}

body {
  font-size: 16px;
  font-weight: 400;
  line-height: 1.87;
  font-family: var(--font-primary);
  color: var(--color-font-90);
  background-color: var(--color-bg-primary);
}

.container {
  max-width: 1255px;
  margin-right: auto;
  margin-left: auto;
  padding-right: 15px;
  padding-left: 15px;
}

/*HEADER*/

.header {
  padding-top: 18px;
  padding-bottom: 91px;
}

.header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.list {
  padding-left: 50px;
  position: relative;
}

.nav-menu {
  position: absolute;
  width: 100%;
  border: 1px solid var(--color-font-primary-10);
  border-radius: 10px;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  left: 25px;
  top: 100%;
  opacity: 0;
  pointer-events: none;
  transition: opacity 1s ease;
}

.list:hover .nav-menu {
  pointer-events: all;
  opacity: 1;
}
.menu-item {
  padding-bottom: 10px;
  width: 100%;
  box-sizing: border-box;
  text-align: center;
}
.menu-item:hover {
  background-color: var(--color-font-primary-10);
  border-radius: 5px;
  cursor: pointer;
}
.logo {
  font-size: 22px;
  font-weight: 600;
  line-height: 1.5;
}
.header-logo {
  display: flex;
  align-items: center;
}
.header-logo::before {
  content: "";
  background-image: url(../images/logo-header.svg);
  height: 21px;
  width: 19px;
  background-repeat: no-repeat;
  background-size: cover;
  margin-right: 21px;
}

.nav-list {
  display: flex;
  gap: 41px;
  align-items: center;
}

.categories {
  display: flex;
  align-items: center;
}

.categories::after {
  content: "";
  background-image: url(../images/categoriesss.svg);
  height: 18px;
  width: 18px;
  background-repeat: no-repeat;
  background-size: cover;
}

.header-action {
  display: flex;
  align-items: center;
  gap: 40px;
}

.nav-link {
  font-weight: 500;
  line-height: 1.5;
  color: var(--color-font-primary-55);
}

.nav-link:hover {
  color: var(--color-font-primary-78);
}
.action-link-reg {
  color: var(--color-font-primary-78);
  font-weight: 600;
}

.action-link-reg:hover {
  color: var(--color-font-primary-55);
}
.action-link-log {
  color: var(--color-signup);
  line-height: 1.5;
  font-weight: 600;
  background-color: var(--color-orange);
  padding: 12px 28px;
  border-radius: 8px;
}

.action-link-log:hover {
  background-color: var(--color-gradient-cards);
}

/*TOOLS*/

.tools {
  background-image: url(../images/hero.svg);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: right;
}
.tools-title {
  font-size: 50px;
  font-weight: 500;
  line-height: 140%;
  max-width: 600px;
  padding-bottom: 30px;
}

.tools-title-span {
  color: var(--color-orange);
}
.tools-text {
  font-size: 18px;
  line-height: 1.6;
  color: var(--color-font-primary-55);
  max-width: 487px;
  padding-bottom: 60px;
}

.tools-form {
  max-width: 497px;
  padding-bottom: 8px;
  padding-top: 8px;
  padding-left: 18px;
  padding-right: 11px;
  border-radius: 15px;
  background-color: var(--color-input-bg);
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 110px;
}

.tools-form:hover {
  border: 1px solid #ffffff2c;
}

.tools-input:focus {
  outline: none;
}

.tools-input {
  color: var(--color-font-search);
  font-size: 14px;
  line-height: 1.5;
  background-color: var(--color-input-bg);
  border: none;
  flex-grow: 1;
}

.tools-input-div {
  display: flex;
  flex-grow: 1;
}

.tools-input-div::before {
  content: "";
  background-image: url(../images/search.svg);
  height: 24px;
  width: 24px;
  background-repeat: no-repeat;
  background-size: cover;
  margin-right: 13px;
}
.tools-button {
  color: var(--color-signup);
  line-height: 1.5;
  font-weight: 600;
  background-color: var(--color-orange);
  padding: 12px 36px;
  border-radius: 8px;
  cursor: pointer;
  transition: transform 0.1s ease-in;
}
.tools-button:hover {
  transform: translateY(-6px);
}
.social-list {
  display: flex;
  flex-direction: row;
  gap: 8px;
}

.tools-social {
  display: flex;
  gap: 8px;
}

/*POPTULS*/

.poptuls-tool {
  display: flex;
  max-width: 392px;
  flex-direction: column;
  transition: transform 0.2s ease-in;
}

.card-top {
  display: flex;
  flex-direction: row;
}

.card-name-and-category {
  padding-left: 30px;
}
.card-bottom {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 33px;
}
.checkboxes-list {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 19px;
}

.poptuls-tool:hover {
  background: radial-gradient(circle at top right, #ff6e3099 0%, #28303699 20%);
  border-radius: 15px;
  transform: translateY(-20px);
}

.poptuls-tool:hover .poptuls-name {
  color: var(--color-font-90);
}

.poptuls-tool:hover .poptuls-category {
  color: var(--color-tools-category-hover);
}

.poptuls-tool:hover .poptuls-description {
  color: var(--color-font-primary-78);
}

.poptuls-tool:hover .checkbox-saved {
  background-image: url(../images/sacedddd.svg);
}
.poptuls-tool:hover .checkbox-saved:checked {
  background-image: url(../images/free-icon-folder-17887843.png);
}
.poptuls-top {
  display: flex;
}

.poptuls-list {
  display: flex;
  flex-wrap: wrap;
  row-gap: 100px;
  column-gap: 25px;
}

.poptuls-item {
  flex-basis: calc((100% - 50px) / 3);
}
.poptuls-title {
  font-size: 48px;
  line-height: 130%;
  font-weight: 500;
  display: flex;
  padding-top: 175px;
  padding-bottom: 25px;
  justify-content: center;
}
.poptuls-text {
  font-size: 18px;
  color: var(--color-font-primary-55);
  line-height: 1.6;
  font-weight: 500;
  display: flex;
  padding-bottom: 90px;
  justify-content: center;
  max-width: 427px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}
.card-img {
  margin-top: 33px;
  margin-left: 33px;
}
.poptuls-name {
  font-size: 24px;
  color: var(--color-font-primary-78);
  font-weight: 500;
  line-height: 1.5;
  padding-bottom: 3px;
  padding-top: 33px;
}

.poptuls-category {
  font-size: 18px;
  color: var(--color-tools-category);
  line-height: 1.5;
  display: flex;
}

.poptuls-description {
  font-size: 16px;
  color: var(--color-font-primary-55);
  padding-top: 30px;
  padding-bottom: 30px;
  margin-left: 33px;
}

.poptuls-gallery-button {
  font-size: 16px;
  line-height: 1.5;
  color: var(--color-font-primary-55);
  background-color: inherit;
  padding-left: 35px;
  padding-right: 35px;
  padding-top: 9px;
  padding-bottom: 9px;
  margin-right: 33px;
  margin-bottom: 33px;
}

.poptuls-gallery-button:hover {
  font-size: 16px;
  font-weight: 600;
  color: var(--color-font-primary-100);
  line-height: 1.5;
  background-color: var(--color-orange);
  border-radius: 8px;
  cursor: pointer;
}

.checkbox-like {
  appearance: none;
  width: 28px;
  height: 28px;
  background-image: url(../images/likeeeeeeeee.svg);
  background-position: center;
  align-items: center;
  margin-left: 33px;
}

.checkbox-like:checked {
  background-image: url(../images/likee-reeeed.svg);
  width: 28px;
  height: 28px;
  background-size: cover;
}

.checkbox-saved {
  width: 42px;
  height: 42px;
  background-position: center;
  background-size: cover;
  appearance: none;
  align-items: center;
  background-image: url(../images/saveddd.svg);
}

.checkbox-saved:checked {
  background-image: url(../images/free-icon-folder-17887843.png);
  width: 42px;
  height: 42px;
}

.poptuls-button-div {
  display: flex;
  justify-content: center;
}
.poptuls-button {
  background-color: inherit;
  color: var(--color-orange);
  font-weight: 500;
  font-size: 20px;
  line-height: 1.5;
  border: 1px solid var(--color-font-primary-10);
  border-radius: 8px;
  padding-left: 38px;
  padding-right: 38px;
  padding-top: 17px;
  padding-bottom: 17px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  margin-top: 100px;
  margin-bottom: 200px;
  margin-right: 33px;
}

.poptuls-button:hover {
  background-color: var(--color-bg-brands);
}
/*BRANDS*/

.brands-container {
  background: radial-gradient(circle at top left, #ff484266 0%, #2c353d33 10%);
  border-radius: 25px;
}

.brands {
  padding-bottom: 202px;
}
.brands-title {
  color: var(--color-font-primary-80);
  font-weight: 500;
  line-height: 1.5;
  font-size: 24px;
  display: flex;
  justify-content: center;
  padding-bottom: 55px;
  padding-top: 55px;
}
.brands-list {
  display: flex;
  flex-direction: row;
  gap: 107px;
  justify-content: center;
  padding-bottom: 56px;
}

.brands-img {
  transition: transform 0.2s ease-in;
}

.brands-img:hover {
  transform: translateY(-10px);
}
/*NEWCOMER-TOOLS*/
.newcomer-container {
  display: flex;
  justify-content: space-between;
}
.newcomer-item {
  flex-basis: calc((100% - 25px) / 2);
}

.newcomer-gallery {
  display: flex;
  flex-direction: column;
  max-width: 288px;
}

.newcomer-list {
  display: flex;
  flex-wrap: wrap;
  row-gap: 50px;
  column-gap: 25px;
  max-width: 600px;
}

.newcomer-title {
  line-height: 130%;
  font-size: 48px;
  font-weight: 500;
  padding-bottom: 30px;
}
.newcomer-text {
  color: var(--color-font-primary-55);
  font-weight: 500;
  font-size: 18px;
  line-height: 1.6;
  max-width: 427px;
  padding-bottom: 60px;
}
.newcomer-button {
  font-size: 18px;
  line-height: 1.5;
  color: var(--color-font-primary-100);
  background-color: #ff6e30;
  padding-left: 40px;
  padding-right: 40px;
  padding-top: 15px;
  padding-bottom: 15px;
  border-radius: 8px;
  cursor: pointer;
  transition: transform 0.2s ease-in;
}

.newcomer-button:hover {
  transform: translateY(-10px);
}

.newcomer-name {
  font-size: 24px;
  color: var(--color-font-primary-78);
  font-weight: 500;
  line-height: 1.5;
  display: flex;
  gap: 30px;
  align-items: center;
}

.newcomer-name::before {
  content: "";
  background-image: url(../images/zeplin.svg);
  width: 64px;
  height: 64px;
}

.newcomer-item:nth-child(2) .newcomer-name::before {
  background-image: url(../images/pgp.svg);
}
.newcomer-item:nth-child(3) .newcomer-name::before {
  background-image: url(../images/toolbox.svg);
}
.newcomer-item:nth-child(4) .newcomer-name::before {
  background-image: url(../images/procreate.svg);
}
.newcomer-category {
  font-size: 18px;
  color: var(--color-tools-category);
  line-height: 1.5;
}
.newcomer-description {
  font-size: 16px;
  color: var(--color-font-primary-55);
}

.newcomer-gallery-button {
  font-size: 16px;
  line-height: 1.5;
  color: var(--color-font-primary-55);
  background-color: inherit;
  padding-left: 97px;
  padding-left: 35px;
  padding-right: 35px;
  padding-top: 9px;
  padding-bottom: 9px;
}

.newcomer-gallery-button:hover {
  font-size: 16px;
  font-weight: 600;
  color: var(--color-font-primary-100);
  line-height: 1.5;
  background-color: var(--color-orange);
  padding-left: 35px;
  padding-right: 35px;
  padding-top: 9px;
  padding-bottom: 9px;
  border-radius: 8px;
  cursor: pointer;
}
/*REVIEWS*/

.reviews {
  padding-top: 200px;
  padding-bottom: 358px;
}

.reviews-first {
  display: flex;
  justify-content: center;
  align-items: center;
}

.reviews-text {
  font-family: var(--font-reviews);
  font-size: 14px;
  line-height: 2.14;
  color: var(--color-font-primary-78);
  max-width: 393px;
  padding-left: 57px;
  background-image: url(../images/contributor-before.svg);
  background-repeat: no-repeat;
  background-position: top left;
}

/*CONTRIBUTOR*/
.contributor {
  padding-bottom: 240px;
}

.contributor-title {
  font-size: 48px;
  line-height: 130%;
  font-weight: 500;
  display: flex;
  justify-content: center;
  padding-bottom: 25px;
}
.contributor-text {
  font-size: 18px;
  color: var(--color-font-primary-55);
  font-weight: 500;
  line-height: 1.6;
  display: flex;
  justify-content: center;
  max-width: 427px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  padding-bottom: 100px;
}

.contributor-input {
  color: var(--color-font-search);
  font-size: 14px;
  line-height: 1.5;
  padding-top: 21px;
  padding-left: 24px;
  padding-right: 260px;
  padding-bottom: 22px;
  background-color: var(--color-input-bg);
  border-radius: 15px;
  border: none;
}

.contributor-input:hover {
  border: 1px solid #ffffff2c;
}

.contributor-input:focus {
  outline: none;
}

.contributor-button {
  color: var(--color-signup);
  line-height: 1.5;
  font-weight: 600;
  background-color: var(--color-orange);
  padding: 12px 36px;
  border-radius: 8px;
  cursor: pointer;
  position: absolute;
  transform: translateY(+15%);
  margin-left: -140px;
  cursor: pointer;
}

.contributor-button:hover {
  background-color: var(--color-gradient-cards);
}

.contributor-form {
  position: relative;
  width: 549px;
}

.form {
  justify-content: center;
  display: flex;
  text-align: center;
}

/*FOOTER*/
.footer {
  border-top: 0.5px solid #ffffff26;
}
.footer-container {
  display: flex;
  flex-direction: row;
  gap: 115px;
  padding-top: 70px;
  padding-bottom: 98px;
}

.footer-logo {
  display: flex;
}

.footer-logo::before {
  content: "";
  background-image: url(../images/logo-footer.svg);
  height: 38px;
  width: 38px;
  background-repeat: no-repeat;
  background-size: cover;
  margin-right: 12px;
}
.footer-info {
  display: flex;
  flex-direction: column;
  max-width: 260px;
}
.policy {
  font-weight: 500;
  line-height: 1.5;
  padding-top: 27px;
}
.footer-text {
  font-size: 14px;
  line-height: 1.5;
  color: var(--color-font-primary-55);
  padding-top: 21px;
}

.footer-title {
  font-size: 20px;
  line-height: 1.5;
  font-weight: 500;
  padding-bottom: 20px;
}

.footer-contacts-adress {
  padding-top: 10px;
  padding-bottom: 10px;
}

.footer-contacts-adress {
  color: var(--color-font-primary-55);
  line-height: 1.5;
  font-weight: 500;
  font-style: normal;
}

.footer-contacts-link {
  color: var(--color-font-primary-55);
  line-height: 1.5;
  font-weight: 500;
  font-style: normal;
  cursor: pointer;
}

.footer-contacts-link:hover {
  color: var(--color-font-primary-78);
}
.footer-bottom-10px {
  padding-bottom: 10px;
}
.footer-categories-item {
  color: var(--color-font-primary-55);
  line-height: 1.5;
  font-weight: 500;
  cursor: pointer;
}

.footer-categories-item:hover {
  color: var(--color-font-primary-78);
}

.footer-company-info-item {
  color: var(--color-font-primary-55);
  line-height: 1.5;
  font-weight: 500;
  cursor: pointer;
}
.footer-company-info-item:hover {
  color: var(--color-font-primary-78);
}
