/*=======================Лайк=============================

.checkbox-like {
  appearance: none;
  width: 25px;
  height: 21px;
  background-image: url(../img/figma.svg);
  background-position: center;
  background-size: cover;
}

.checkbox-like:checked {
  background-image: url(../img/like-red.svg);
}
*/

/*==============================Випадаючий список====================
.list {
  border: 1px solid black;
  padding-left: 50px;
  position: relative;
}

.nav-menu {
  position: absolute;
  width: 100%;
  border: 1px solid black;
  left: 200px;
  top: 100%;
  opacity: 0;
  pointer-events: none;
  transition: opacity 1s ease;
}

.list:hover .nav-menu {
  pointer-events: all;
  opacity: 1;
}
.menu-item:hover {
  background-color: grey;
}
*/

/*============================Рух в гору========================

.tools-button {
  padding-inline: 20px;
  transition: transform 0.2s ease-in;
}

.tools-button:hover {
  transform: translateY(-10px);
}
*/
html {
  scroll-behavior: smooth;
}
:root {
  /*Colors*/
  --color-bg-primary: #1e252b;
  --color-font-90: #ffffffe6;
  --color-font-primary-78: #ffffffc7;
  --color-font-primary-55: #ffffff8c;
  --color-font-search: #ffffff61;
  --color-border-button: #ffffff1a;
  --color-border: #ffffff26;
  --color-orange: #ff6e30;
  --color-signup: #fdf5ff;
  --color-like: #fd3b41;
  --color-input-bg: #283036;
  --color-gradient-cards: #ff6e3099;
  --color-gradient-brands: #ff484266;
  --color-tools-category-hover: #ffa537;
  --color-tools-category: #ffa5378c;
  --color-bg-brands: #2c353d33;
  --color-bg-cards: #28303699;
  --color-font-primary-100: #ffffff;
  --color-font-primary-10: #ffffff1a;
  --color-font-primary-80: #ffffffcc;

  /*Fonts*/
  --font-primary: "Poppins", sans-serif;
  --font-reviews: "Roboto", sans-serif;
  --font-reviews-decor: "Lora", serif;
}

body {
  font-size: 16px;
  font-weight: 400;
  line-height: 1.87;
  font-family: var(--font-primary);
  color: var(--color-font-90);
  background-color: var(--color-bg-primary);
}

.container {
  max-width: 1255px;
  margin-right: auto;
  margin-left: auto;
  padding-right: 15px;
  padding-left: 15px;
}

/*HEADER*/

.header {
  padding-top: 26px;
  padding-bottom: 111px;
  padding-left: 161px;
}

.header-container {
  display: flex;
  align-items: center;
  gap: 257px;
}
.logo {
  font-size: 22px;
  font-weight: 600;
  line-height: 1.5;
}

.nav {
  flex-grow: 1;
}

.nav-list {
  display: flex;
  gap: 41px;
}

.header-action {
  display: flex;
  align-items: center;
  gap: 40px;
}

.nav-link {
  font-weight: 500;
  line-height: 1.5;
  color: var(--color-font-primary-55);
}
.action-link-reg {
  color: var(--color-font-primary-78);
  font-weight: 600;
}
.action-link-log {
  color: var(--color-signup);
  line-height: 1.5;
  font-weight: 600;
  background-color: var(--color-orange);
  padding: 12px 28px;
  border-radius: 8px;
}

/*TOOLS*/
.tools-title {
  font-size: 50px;
  font-weight: 500;
  line-height: 140%;
  max-width: 600px;
  padding-bottom: 30px;
}

.tools-title-span {
  color: var(--color-orange);
}
.tools-text {
  font-size: 18px;
  line-height: 1.6;
  color: var(--color-font-primary-55);
  max-width: 487px;
  padding-bottom: 60px;
}
.tools-input {
  color: var(--color-font-search);
  font-size: 14px;
  line-height: 1.5;
  padding-top: 21px;
  padding-left: 55px;
  padding-right: 252px;
  padding-bottom: 22px;
  background-color: var(--color-input-bg);
  border-radius: 15px;
  border: none;
  margin-bottom: 110px;
}
.tools-button {
  color: var(--color-signup);
  line-height: 1.5;
  font-weight: 600;
  background-color: var(--color-orange);
  padding: 12px 36px;
  border-radius: 8px;
  cursor: pointer;
  position: absolute;
  transform: translateY(+15%);
  margin-left: -140px;
}
.social-list {
  display: flex;
  flex-direction: row;
  gap: 8px;
}

/*POPTULS*/

.poptuls-gallery {
  display: flex;
  flex-direction: column;
  max-width: 392px;
  align-items: flex-start;
}
.poptuls-list {
  display: flex;
  flex-wrap: wrap;
}

.poptuls-item {
  flex-basis: calc((100% - 50px) / 3);
}
.poptuls-title {
  font-size: 48px;
  line-height: 130%;
  font-weight: 500;
  display: flex;
  padding-top: 175px;
  padding-bottom: 25px;
  display: flex;
  justify-content: center;
}
.poptuls-text {
  font-size: 18px;
  color: var(--color-font-primary-55);
  line-height: 1.6;
  font-weight: 500;
  display: flex;
  padding-bottom: 90px;
  display: flex;
  justify-content: center;
}

.poptuls-name {
  font-size: 24px;
  color: var(--color-font-primary-78);
  font-weight: 500;
  line-height: 1.5;
  display: flex;
  gap: 30px;
}

.poptuls-name::before {
  content: "";
  background-image: url(../img/figma.svg);
  width: 64px;
  height: 64px;
}

.poptuls-category {
  font-size: 18px;
  color: var(--color-tools-category);
  line-height: 1.5;
  display: flex;
}

.poptuls-description {
  font-size: 16px;
  color: var(--color-font-primary-55);
}

.poptuls-gallery-button {
  font-size: 16px;
  line-height: 1.5;
  color: var(--color-font-primary-55);
  background-color: inherit;
}

.poptuls-name:hover {
  color: var(--color-font-90);
  font-size: 24px;
  font-weight: 500;
  line-height: 1.5;
}

.poptuls-category:hover {
  line-height: 1.5;
  color: var(--color-tools-category-hover);
  cursor: pointer;
}

.poptuls-gallery-button:hover {
  font-size: 16px;
  font-weight: 600;
  color: var(--color-font-primary-100);
  line-height: 1.5;
  background-color: var(--color-orange);
  padding-left: 35px;
  padding-right: 35px;
  padding-top: 9px;
  padding-bottom: 9px;
  border-radius: 8px;
  cursor: pointer;
}

.poptuls-button {
  background-color: inherit;
  color: var(--color-orange);
  font-weight: 500;
  font-size: 20px;
  line-height: 1.5;
  border: 1px solid var(--color-font-primary-10);
  border-radius: 8px;
  padding-left: 38px;
  padding-right: 38px;
  padding-top: 17px;
  padding-bottom: 17px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  margin-top: 100px;
  margin-bottom: 200px;
}
/*BRANDS*/

.brands-title {
  color: var(--color-font-primary-80);
  font-weight: 500;
  line-height: 1.5;
  font-size: 24px;
  display: flex;
  justify-content: center;
  padding-bottom: 55px;
}
.brands-list {
  display: flex;
  flex-direction: row;
  gap: 107px;
  justify-content: center;
}

/*NEWCOMER-TOOLS*/

.newcomer-title {
  line-height: 130%;
  font-size: 48px;
  font-weight: 500;
}
.newcomer-text {
  color: var(--color-font-primary-55);
  font-weight: 500;
  font-size: 18px;
  line-height: 1.6;
}
.newcomer-button {
  font-size: 18px;
  line-height: 1.5;
  color: var(--color-font-primary-100);
  background-color: #ff6e30;
  padding-left: 40px;
  padding-right: 40px;
  padding-top: 15px;
  padding-bottom: 15px;
  border-radius: 8px;
  cursor: pointer;
}

.newcomer-name {
  font-size: 24px;
  color: var(--color-font-primary-78);
  font-weight: 500;
  line-height: 1.5;
}
.newcomer-category {
  font-size: 18px;
  color: var(--color-tools-category);
  line-height: 1.5;
}
.newcomer-description {
  font-size: 16px;
  color: var(--color-font-primary-55);
}

.newcomer-gallery-button {
  font-size: 16px;
  line-height: 1.5;
  color: var(--color-font-primary-55);
  background-color: inherit;
}

.newcomer-gallery-button:hover {
  font-size: 16px;
  font-weight: 600;
  color: var(--color-font-primary-100);
  line-height: 1.5;
  background-color: var(--color-orange);
  padding-left: 35px;
  padding-right: 35px;
  padding-top: 9px;
  padding-bottom: 9px;
  border-radius: 8px;
  cursor: pointer;
}
/*REVIEWS*/

.reviews-text {
  font-family: var(--font-reviews);
  font-size: 14px;
  line-height: 2.14;
  color: var(--color-font-primary-78);
  letter-spacing: 1.5%;
}
/*CONTRIBUTOR*/

.contributor-title {
  font-size: 48px;
  line-height: 130%;
  font-weight: 500;
}
.contributor-text {
  font-size: 18px;
  color: var(--color-font-primary-55);
  font-weight: 500;
  line-height: 1.6;
}

.contributor-input {
  color: var(--color-font-search);
  font-size: 14px;
  line-height: 1.5;
  padding-top: 21px;
  padding-left: 24px;
  padding-right: 260px;
  padding-bottom: 22px;
  background-color: var(--color-input-bg);
  border-radius: 15px;
  border: none;
}
.contributor-button {
  color: var(--color-signup);
  line-height: 1.5;
  font-weight: 600;
  background-color: var(--color-orange);
  padding: 12px 36px;
  border-radius: 8px;
  cursor: pointer;
  position: absolute;
  transform: translateY(+15%);
  margin-left: -140px;
  cursor: pointer;
}

.contributor-form {
  position: relative;
  width: 549px;
}

/*FOOTER*/

.policy {
  font-weight: 500;
  line-height: 1.5;
}
.footer-text {
  font-size: 14px;
  line-height: 1.5;
  color: var(--color-font-primary-55);
}

.footer-title {
  font-size: 20px;
  line-height: 1.5;
  font-weight: 500;
}

.footer-contacts-adress {
  color: var(--color-font-primary-55);
  line-height: 1.5;
  font-weight: 500;
  font-style: normal;
}

.footer-contacts-link {
  color: var(--color-font-primary-55);
  line-height: 1.5;
  font-weight: 500;
  font-style: normal;
}

.footer-categories-item {
  color: var(--color-font-primary-55);
  line-height: 1.5;
  font-weight: 500;
}

.footer-company-info-item {
  color: var(--color-font-primary-55);
  line-height: 1.5;
  font-weight: 500;
}
